body {
  background-color: #6a8ba3;
}

ul,
ol {
  list-style: none;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #D3d3d3;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #4c6578;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #f7f1e5;
  background-color: #597a91;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c4922b;
}

p {
  color: #D97a4a;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;

}


@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  textarea {
    height: 80px;
  }

  button {
    width: 100%;
  }
}