.navbar {
    background-color: #B0B0B0; 
    padding: 15px 20px;
    border-bottom: 1px solid #D3D3D3; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}


.navbar {
    background-color: #B0B0B0; 
    padding: 15px 20px;
    border-bottom: 1px solid #D3D3D3; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
  }
  

  .logo {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
  

  .logo-container:hover .logo {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  

.navbar-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.navbar-links a {
    color: #F7F1E5;
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 40px;
    padding: 10px 30px;
}

.navbar-links a:hover {
    color: #3D596B;
    text-decoration: underline;
}


.logout-button {
    background-color: #D9A441;
    color: #F7F1E5; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 120px;
}

.logout-button:hover {
    background-color: #C4922B;
    color: #E6DFCF; 
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 5px #4C6578; 
}


.navbar-links span {
    color: #885E3C;
    font-size: 1.3rem;
    font-family: cursive;
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
    }

    .navbar-links {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-links a {
        font-size: 1rem;
        margin-right: 20px;
        padding: 10px 15px;
    }

    .logout-button {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-links span {
        font-size: 1.1rem;
    }
}


@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding: 10px 10px;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar-links a {
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 10px 20px;
        text-align: center;
    }

    .logout-button {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-links span {
        font-size: 1.2rem;
    }
}
