body {
    background-color: #6a8ba3;
}

h1 {
    color: #3c3c3c;
    background-color: #f7f1e5;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #3c3c3c;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.productName {
    font-size: 20px;
}

.price {
    font-size: 15px;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #d97a4a;
    box-shadow: 1px 1px 1px 1px #3c3c3c;
}

.productContainer img {
    width: 175px;
}

.productContainer h2,
.productContainer p {
    background-color: #d97a4a;
    color: #3c3c3c;
}

.productContainer:hover {
    transform: scale(1.05);
    background-color: #c4922b;
}

.productContainer:hover h2,
.productContainer:hover p {
    background-color: #c4922b;
}